<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74909269140-i4dlppvk83pvdss3ac122ela70cumif0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74909269140-i4dlppvk83pvdss3ac122ela70cumif0</string>
	<key>API_KEY</key>
	<string>AIzaSyAkqx0mKmG453h7UopmzR1kBTqGzd_i11Q</string>
	<key>GCM_SENDER_ID</key>
	<string>74909269140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>QED.Decorative</string>
	<key>PROJECT_ID</key>
	<string>decorative-af310</string>
	<key>STORAGE_BUCKET</key>
	<string>decorative-af310.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74909269140:ios:ee43796c5875b2e3bbc881</string>
</dict>
</plist>